.inicio{
    
    width: 30%;
    left: 50%;
    
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    transform: translateX(-50%);
}

.linhaX{
    border: none;
    outline: none;
}

.linhaX .square{
    border: none;
    outline: none;
    width: 33.3333%;
    height:80px;

    background-color: #fff;
    font-size: 2em;
    font-weight: bold;

    border: 1px solid #000;

}